body {
  padding-top: 50px;
}

#chart-container {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	padding: 20px 15px 15px 15px;
	margin: 0 auto 0 auto;
}

#chart-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

#info-list .list-group-item {
	padding: 0px 15px;
	border-top: 0px;
}

#document-ids-list .btn {
	padding: 3px 15px;
}

#clear-entity-filter-button {
	margin-left: 6px;
}